@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

.overlayHome {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: transparent;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}
.h1Home {
  line-height: 1.5em;
}

.btnDefault {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btnDefault:focus,
.btnDefault:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.btnDefault:hover {
  border: 1px solid #565ee6;
}
.btnHome {
  padding: 1rem;
}
.btnVendeur {
  background-color: #747bff;
  border-radius: 1rem;
  color: white;
  border: 0.2px solid #000000;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 1rem;
  border: 1px solid #747bff;
  padding: 0.2rem;
  transition: 0.1s ease-in-out;
}
.btnHome:hover {
  background-color: #333333;
  color: white;
  border: 0.2px solid #ffffff;
}
.btnVendeur:hover {
  background-color: #565ee6;
  border: 1px solid #565ee6;
}
.btnVendeur:focus {
  outline: none;
}
